@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #F5F5F5;
    --primary-color: #6B9080;
    --secondary-color: #A4C3B2;
    --accent-color: #EAF4F4;
    --text-color: #000000;
    --hover-effect: rgba(217, 217, 217, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


body {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
}

.main-container {
    margin: 7rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
}


/* Left Side Container--------------------------------------------------------------------------------------*/
.container1 {
    position: relative;
}

.title {
    font-size: 12.5rem;
    font-family: "Righteous", sans-serif;
    line-height: 1;
    color: #000;
}

.block {
    position: absolute;
    background: var(--background);
    border: 1.6px solid var(--text-color);
    padding: 0 30px;
    border-radius: 8px;
    transform-origin: center;
    font-size: 1.2rem;
}


    .block.reuse {
        top: -100px;
        left: 145px;
        transform: rotate(-54.8deg);
    }

    .block.mindful {
        top: 10px;
        left: 115px;
        transform: rotate(26deg);
    }

    .block.empty1 {
        top: 200px;
        left: 168px;
        width: 119px;
        height: 30px;
        border: 1.6px solid var(--text-color);
        border-radius: 8px;
        background: var(--background);
        transform: rotate(-46.67deg);
    }

    .block.unload {
        top: 290px;
        left: 202px;
        transform: rotate(60deg);
    }

    .block.letgo {
        top: 381px;
        left: 200px;
        transform: rotate(0deg);
    }

    .block.clearout {
        top: 412px;
        left: 20px;
        transform: rotate(0deg);
    }

    .block.organize {
        top: 442px;
        left: 240px;
        transform: rotate(0deg);
    }

    .block.empty2 {
        top: 412px;
        left: 168px;
        width: 119px;
        height: 31px;
        border: 1.6px solid var(--text-color);
        border-radius: 8px;
        background: var(--background);
        transform: rotate(0deg);
    }

    .block.empty3 {
        top: 443px;
        left: 10px;
        width: 200px;
        height: 30px;
        border: 1.6px solid var(--text-color);
        border-radius: 8px;
        background: var(--background);
        transform: rotate(0deg);
    }



    .block.empty5 {
        top: 473px;
        left: -20px;
        width: 490px;
        height: 30px;
        border: 1.6px solid var(--text-color);
        border-radius: 8px;
        background: var(--background);
        transform: rotate(0deg);
    }


/* Right Side Container--------------------------------------------------------------------------------------*/

/*Login Container*/
.container2 {
    width: 380px;
    padding: 70px 60px;
    background-color: var(--background);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    position: relative;
    overflow: hidden;
    transition: height 0.5s ease;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

    .input-box input {
        padding: 10px 20px;
        border: 1px solid var(--text-color);
        border-radius: 8px;
        font-size: 14px;
        outline: none;
        background-color: var(--background);
    }

    .input-box label {
        position: absolute;
        top: -8px;
        left: 12px;
        background: var(--background);
        padding: 0 2px;
        font-size: 13px;
        color: var(--text-color);
    }

button.login {
    width: 100%;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: var(--background);
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

    button.login:hover {
        background-color: var(--secondary-color);
    }

button.signup {
    background-color: var(--background);
    border: none;
    padding: 10px 0;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

    button.signup:hover {
        background-color: #ebebeb;
    }

.signup-col {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.forgotP-col {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    font-size: 13px;
}

    .forgotP-col a {
        text-decoration: none;
        color: var(--secondary-color);
    }

        .forgotP-col a:hover {
            text-decoration: underline;
        }


.signup-form {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}
.signup-header h2 {
    font-size: 1.6rem;
    font-family: "Righteous", sans-serif;
    color: var(--text-color);
    margin-bottom: 20px;
}

button.create {
    width: 100%;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: var(--background);
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

    button.create:hover {
        background-color: var(--secondary-color);
    }

.form-wrapper {
    position: relative;
    width: 100%;
    display: block;
    height: auto;
}

form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

    form.active {
        position: relative;
        opacity: 1;
        pointer-events: auto;
    }


.login-form.active ~ .signup-form {
    opacity: 0;
    pointer-events: none;
}

.signup-form.active {
    opacity: 1;
    pointer-events: auto;
}

.login-form.active {
   background-color: var(--background);
    opacity: 1;
    pointer-events: auto;
}

.back-login {
    background-color: var(--background);
    border: none;
    padding: 10px 0;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

    .back-login:hover {
        background-color: #ebebeb;
    }

.container2.show-signup .form-wrapper {
    transform: translateX(-50%);
}

.container2.show-signup .signup-form {
    opacity: 1;
    pointer-events: auto;
}

.container2.show-signup .login-form {
    opacity: 0;
    pointer-events: none;
}


footer {
    display: none;
}

.input-box input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--secondary-color);
    background-color: var(--background);
}







/*Media Queries----------------------------------------------------------------------------------------------------*/


/* Tablets and below */
@media (max-width: 992px) {
    .main-container {
        flex-direction: column;
        margin: 2rem auto;
        align-items: center;
    }

    .container1 {
        margin-bottom: 3rem;
    }

    .title {
        font-size: 6rem;
        text-align: center;
    }

    .block {
        display: none; /* Hide decorative blocks on smaller screens */
    }

    .container2 {
        width: 90%;
        padding: 40px 30px;
    }
}

/* Phones and small screens */
@media (max-width: 576px) {
    .title {
        font-size: 4rem;
    }

    .container2 {
        width: 95%;
        padding: 30px 20px;
    }

    .input-box input {
        font-size: 13px;
        padding: 8px 16px;
    }

    button.login, button.create {
        padding: 8px 0;
        font-size: 14px;
    }

    button.signup, button.back-login {
        font-size: 14px;
    }

    .signup-header h2 {
        font-size: 1.3rem;
    }

    .forgotP-col {
        font-size: 12px;
    }

    .input-box label {
        font-size: 12px;
        top: -10px;
    }
}


/*About us section---------------------------------------------------------------------------------------------------*/

.image-1 {
    position: absolute;
    top: 720px;
    left: 483px;
    background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
    width: 398.4px;
    height: 658px;
}

.pic1-login-page-1 {
    position: absolute;
    top: -20px;
    left: -138px;
    width: 860px;
    height: 483px;
    object-fit: cover;
}

.frame1 {
    align-self: stretch;
    width: 722px;
    position: relative;
    border-radius: 0px 20px 20px 0px;
    background-color: #6b9080;
    overflow: hidden;
    flex-shrink: 0;
}

.frame2 {
    width: 115px;
    position: relative;
    border-radius: 20px;
    background-color: #cce3de;
    height: 444px;
    overflow: hidden;
    flex-shrink: 0;
    transform: rotate(180deg);
}

.frame {
    width: 860px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.lorem-ipsum-dolor {
    position: absolute;
    top: 61px;
    left: 144px;
    display: inline-block;
    width: 701px;
}

.frame3 {
    width: 1107px;
    position: relative;
    border-radius: 0px 20px 20px 0px;
    border: 5px solid #000;
    box-sizing: border-box;
    height: 222px;
    overflow: hidden;
    flex-shrink: 0;
}

.about-us-bento {
    width: 100%;
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px;
    box-sizing: border-box;
    gap: 10px;
    text-align: justify;
    font-size: 16px;
    color: #000;
    font-family: Montserrat;
}

