@{
    ViewBag.HideNavigation = true;
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
}

<div class="container mt-5">
    <h2>Login Failed</h2>
    <p>There was an error signing you in. Please try again.</p>
    <a href="/Account/Login" class="btn btn-secondary">Back to Login</a>
</div>