@{
    ViewData["Title"] = "User Data Deletion";
    ViewBag.HideNavigation = true;
}
<h1>User Data Deletion</h1>
<p>To delete your account and associated data, please email us at <a href="mailto:support@example.com">support@example.com</a>. We will process your request within 48 hours.</p>