@{
    ViewData["Title"] = "Terms of Service";
    ViewBag.HideNavigation = true;
}
<h1>Terms of Service</h1>
<p>By using this application, you agree to sign in using Google or Facebook for authentication. We reserve the right to update these terms at any time.</p>
